<div class="m-12" [@animate]="{value:'*',params:{y:'50px',delay:'300ms'}}">
  <button mat-raised-button class="mb-8" color="primary"  (click)="openPopUp({}, true)">Add Membership Plan</button>
  </div>
  <mat-card class="p-0" [@animate]="{value:'*',params:{y:'50px',delay:'300ms'}}">
    <mat-card-content class="p-0">
      <sorax-table-view [tableData]="membershipPlanData"
                  [tableColumns]="membershipColumns"
                  [isFilterable]="false"
                  [isPageable]="true"
                  [page]="page"
                  (pageEvent)="pageChangeEvent($event)"
                  (sortEvent)="sortData($event)"
                  (rowAction)="executeRowActions($event)">
    </sorax-table-view>
  
    </mat-card-content>
  </mat-card>
