<div class="page-wrap h-full slate">
  <div class="session-form-hold"  @animate>
    <mat-progress-bar mode="determinate" class="session-progress"></mat-progress-bar>
    <mat-card class="!m-0">
      <mat-card-content>
        <div class="flex flex-col items-center !py-4">
          <img width="60px" src="assets/images/illustrations/undraw_setup.svg" alt="" />
          <p class="font-weight-bold">{{contextAssociation.name}} Reset password </p>
        </div>

        <div soraxdir-alert-message [errorMessage]="messages | json"></div>

        <form [formGroup]="resetFormGroup" class="signup-form flex flex-col" (ngSubmit)="resetPasswordFormSubmitted()">

          <sorax-form-field label="Email or phone" class="pb18" [soraxFormControl]="resetFormGroup.get('userName')">
            <input  #soraxInput formControlName="userName" matInput type="email" name="userName" placeholder="Email or phone" />
          </sorax-form-field>
          <button mat-raised-button class="mat-primary full-width mt-4 mb-8" [disabled]="resetFormGroup.invalid">Reset
            password</button>

          <div class="text-center flex">
            <a *ngIf="!contextAssociation.name" [routerLink]="'/auth/signup'" class="mat-primary text-left full-width">Create a new account</a>
            <a *ngIf="contextAssociation.setting?.publicRegistrationFlg =='Y'" [routerLink]="'/auth/signup'" class="mat-primary text-left full-width">Member Registration</a>
            <span fxFlex></span>
            <a [routerLink]="'/auth/login'" class="mat-primary text-right full-width">Sign in</a>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>