<mat-tab-group
    #tabGroup
    (selectedTabChange)="onTabChange($event)"
    mat-stretch-tabs="false"
    mat-align-tabs="start"
    color="primary"
>
    <mat-tab>
        <ng-template mat-tab-label>Active Events</ng-template>
        <div
                class="m-12"
                [@animate]="{ value: '*', params: { y: '50px', delay: '300ms' } }"
                style="text-align: right"
                *ngIf="!showDetails"
        >
            <button
                    mat-raised-button
                    class="mb-8"
                    color="primary"
                    align="right"
                    (click)="openEventPopUp({}, true)"
            >
                Create a New Event
            </button>
        </div>
        <mat-card
                class="p-0"
                [@animate]="{ value: '*', params: { y: '50px', delay: '300ms' } }"
        >
            <mat-card-content class="p-0">
                <app-event-card *ngFor="let event of eventList" [event]="event"></app-event-card>
            </mat-card-content>
        </mat-card>
    </mat-tab>

    <mat-tab>
        <ng-template mat-tab-label>Past Events</ng-template>
        <sorax-past-event-list></sorax-past-event-list>
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>Coupons</ng-template>
        <sorax-coupon-list></sorax-coupon-list>
    </mat-tab>
</mat-tab-group>
