<div class="panel__top">
    <div class="panel__basic-actions">
    </div>
    <div class="panel__devices"></div>
    <div class="panel__custom_buttons" fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="space-between center">
        <button mat-raised-button class="mat-primary" >Save</button>
        <button mat-raised-button class="mat-primary" >Live preview</button>
    </div>
    <div class="panel__switcher"></div>
</div>
<div class="editor-row">
    <div class="editor-canvas">
      <div id="gjs"> 
      </div>
    </div>
    <div class="panel__right">
      <div class="traits-container"></div>

      <div class="styles-container">

          <div class="classes-container"></div>

      </div>
      <div class="layers-container"></div>

      <div class="blocks-container"></div>

  </div>
</div>
