<div class="panel__top" [@animate]="{ value: '*', params: { y: '50px', delay: '300ms' } }">
    <div class="panel__basic-actions">
    </div>
    <div class="panel__devices"></div>
    <div class="panel__custom_buttons">
        <button mat-raised-button class="mat-accent mr-8" (click)="showWebSites()">Close</button>
        <button mat-raised-button class="mat-primary mr-8" (click)="saveChanges()" >Save as Draft</button>
        <button mat-raised-button class="mat-primary mr-8" (click)="saveAndPublish()" >Save & Publish</button>
    </div>
    <div class="panel__switcher"></div>
</div>
<div class="editor-row">
    <div class="editor-canvas" [@animate]="{ value: '*', params: { y: '50px', delay: '300ms' } }">
      <div id="gjs">
      </div>
    </div>
    <div class="panel__right">
      <div class="traits-container"></div>

      <div class="styles-container">

          <div class="classes-container"></div>

      </div>
      <div class="layers-container"></div>

      <div class="blocks-container"></div>

  </div>
</div>
