<div class="panel__top">
    <div class="panel__basic-actions">
    </div>
    <div class="panel__devices"></div>
    <div class="panel__custom_buttons">
      <button mat-raised-button class="mat-accent mr-8" (click)="listWebsites()">Close</button>
        <button mat-raised-button class="mat-primary mr-8" >Save  </button>
        <button mat-raised-button class="mat-primary " >Live preview</button>
    </div>
    <div class="panel__switcher"></div>
</div>
<div class="editor-row">
    <div class="editor-canvas">
      <div id="gjs">{{htmlContentForCanvas}}
      </div>
    </div>
    <div class="panel__right">
      <div class="traits-container"></div>

      <div class="styles-container">

          <div class="classes-container"></div>

      </div>
      <div class="layers-container"></div>

      <div class="blocks-container"></div>

  </div>
</div>
