<div class="flex flex-wrap"  >
  <div class="w-full xl:w-[270px] md:w-1/2"  >
    <mat-card class="profile-sidebar mat-card-border " >
      <mat-progress-bar 
      [color]="progressColor"
      mode="determinate" [value]="progress" class="custom-thickness float-top" >
      </mat-progress-bar>
      <span  class="text-right text-{{progressColor}}"><strong>Completed {{progress}}%</strong></span>

      <div class="propic flex justify-center">
        <img src="assets/images/sq-face-220.jpg" alt="">
      </div>
      <div class="profile-title text-center mb-2">
        <div class="main-title">John F Kenady</div>
        <div class="subtitle m-2">Big Data Expert</div>
       
       </div>
       <div class="profile-actions flex justify-center items-center mb-4">
        <button mat-icon-button mat-sm-button color="primary" matTooltip="Overview">
          <mat-icon>home</mat-icon>
        </button>  
        <button mat-icon-button mat-sm-button color="danger" matTooltip="Edit Personal Details">
          <mat-icon>edit</mat-icon>
        </button>  
        <button mat-icon-button mat-sm-button color="primary" matTooltip="Membership details">
          <mat-icon>card_membership</mat-icon>
        </button>      
        <button mat-icon-button mat-sm-button color="warn" matTooltip="Add Edit Family">
          <mat-icon>group</mat-icon>
        </button>  
        <button mat-icon-button mat-sm-button color="accent" matTooltip="Payment details">
          <mat-icon>payment</mat-icon>
        </button>
      </div>
      <mat-divider></mat-divider>
      <div class="profile-nav pt-4">
        <div class="px-3 py-1 flex items-center cursor-pointer hover:bg-slate-50" >
          <mat-icon class="mr-2 rtl:ml-2 text-muted">public</mat-icon>
            <div>www.mhrafi.com</div>
        </div>
        <div class="px-3 py-1 flex items-center cursor-pointer hover:bg-slate-50" >
            <mat-icon class="mr-2 rtl:ml-2 text-muted">email</mat-icon>
            <div>support@ui-lib.com</div>
         </div>
        <div class="px-3 py-1 flex items-center cursor-pointer hover:bg-slate-50" >
          <mat-icon class="mr-2 rtl:ml-2 text-muted">phone</mat-icon>
          <div>8801822778800</div>
        </div>
        
        <div class="px-3 py-2 flex items-center cursor-pointer hover:bg-slate-50" >
          <mat-icon class="mr-2 rtl:ml-2 text-muted">add_location</mat-icon>
          <div>Sbidbazar, Sylhet, BD</div>
        </div>
        <mat-divider></mat-divider>

        <div class="pt-4 px-3 py-2 flex items-center cursor-pointer hover:bg-slate-50" >
          <mat-slide-toggle class="mr-2 rtl:ml-2" >Receive Email Notification</mat-slide-toggle> 
        </div>

        <div class="px-3 py-2 flex items-center cursor-pointer hover:bg-slate-50" >
          <mat-slide-toggle class="mr-2 rtl:ml-2" >Receive SMS Notification</mat-slide-toggle> 
        </div>

        <div class="px-3 py-2 flex items-center cursor-pointer hover:bg-slate-50" >
          <mat-slide-toggle class="mr-2 rtl:ml-2" >Contacts visible to public</mat-slide-toggle> 
        </div>
        
        <div class="px-3 py-2 flex items-center cursor-pointer hover:bg-slate-50" >
          <mat-slide-toggle class="mr-2 rtl:ml-2" >Contacts visible to members</mat-slide-toggle> 
        </div>
      </div>
      <mat-divider></mat-divider>
      <div class="profile-nav pt-4">
        <button mat-raised-button class="mat-primary full-width mt-4 mb-8">Back to Members list</button>
      </div>
  </mat-card>
</div>
  <!-- Profile Views -->
  <div class="w-full md:w-1/2 xl:w-[calc(100%-300px)]">
    <router-outlet></router-outlet>
  </div>
</div>