<mat-form-field>
    <input type="text" 
        placeholder="Interval" 
        aria-label="Interval" 
        matInput
        [matAutocomplete]="soraxAutoComplete">
    <mat-autocomplete autoActiveFirstOption #soraxAutoComplete="matAutocomplete" [displayWith]="displayFn">
        <mat-option *ngIf="isLoading; else optionsTemplate" disabled="true">
        <em>Loading...</em>
        </mat-option>
        <ng-template #optionsTemplate>
        <mat-option   class="provided" *ngFor="let opt of filteredIntervals | async" [value]="opt.id">
            {{opt.name}}
        </mat-option>
        </ng-template>
        <mat-option *ngIf="!isLoading && noResults" value="" disabled="true">
        <b>No results found</b>
        </mat-option>
    </mat-autocomplete>
</mat-form-field>