.card {
  background-color: #ccd2e5;
  margin: 16px 0;
  width: 100%;
}

.card-title{ 
  text-decoration: solid;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
  background-color: #ccd2e5;
}

.grid-item-1 {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.grid-item-2 {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.grid-item-3 {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
}

.grid-item-4 {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.grid-item-5 {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.grid-item-6 {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
}
