<div class="mat-elevation-z8">
  <mat-paginator *ngIf="isPageable" [length]="page.totalItems" [pageIndex]="page?.currentPage"
    [pageSize]="page?.pageSize" [pageSizeOptions]="page?.pageSizeOptions" (page)="emitPageEvent($event)"
    aria-label="Select page" showFirstLastButtons>
  </mat-paginator>
  <mat-table [dataSource]="tableDataSource" matSort matSortDisableClear [matSortActive]="page?.sortColumn"
    [matSortDirection]="page?.sortDirection" (matSortChange)="emitSortEvent($event)" (mouseleave)="hideTooltip()">

    <ng-container *ngFor="let tableColumn of tableColumns" [matColumnDef]="tableColumn.dataKey">

      <ng-container *ngIf="(tableColumn.dataKey =='action'); else otherThanActionColumns">
        <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
        <mat-cell *matCellDef="let row">
          <span *ngFor="let availableAction of row['availableActions']">
            <ng-container *ngIf="availableAction=='View'">
                <button mat-icon-button mat-sm-button color="primary" class="mr-12" matTooltip="View"
                      (click)="emitRowAction(row, availableAction)">
                <mat-icon>visibility</mat-icon>
              </button>
            </ng-container>
            <ng-container *ngIf="availableAction=='Edit'">
              <button mat-icon-button mat-sm-button color="accent" class="mr-12" matTooltip="Edit"
                (click)="emitRowAction(row, availableAction)">
                <mat-icon>edit</mat-icon>
              </button>
            </ng-container>
            <ng-container *ngIf="availableAction=='Delete'">
              <button mat-icon-button mat-sm-button color="warn" aria-label="Delete" matTooltip="Delete"
                (click)="emitRowAction(row, availableAction)">
                <mat-icon>delete</mat-icon>
              </button>
            </ng-container>
          </span>
        </mat-cell>
      </ng-container>
      
      <ng-template #otherThanActionColumns>
        <ng-container *ngIf="tableColumn.isSortable; else noSortable">
          <mat-header-cell *matHeaderCellDef [arrowPosition]="'before'" [ngClass]="getCellClass(tableColumn.position)"
            mat-sort-header>{{tableColumn.name}}</mat-header-cell>
          <mat-cell *matCellDef="let row" [ngClass]="getCellClass(tableColumn.position)"
            (click)="tableColumn.clickEvent && tableColumn.clickEvent(row)"
            (mousemove)="updateTooltipPosition($event, row)">
            <ng-container *ngTemplateOutlet="itemText; context: {row: row, columnDef:tableColumn}"></ng-container>
          </mat-cell>
        </ng-container>

        <ng-template #noSortable>
          <mat-header-cell *matHeaderCellDef
            [ngClass]="getCellClass(tableColumn.position)">{{tableColumn.name}}</mat-header-cell>
          <mat-cell *matCellDef="let row" [ngClass]="getCellClass(tableColumn.position)">
            <ng-container *ngTemplateOutlet="itemText; context: {row: row, columnDef:tableColumn}"></ng-container>
            <div *ngIf="tooltipText" class="tooltip" [ngStyle]="{top: tooltipTop + 'px', left: tooltipLeft + 'px'}"
              [innerHTML]="tooltipText" [class.show]="showTooltip" [@smoothFadeIn]></div>
          </mat-cell>
        </ng-template>
      </ng-template>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;" (mouseover)="currentRow = row"></mat-row>

  </mat-table>

  <ng-template #itemText let-row="row" let-columnDef="columnDef">
    <ng-container *ngIf="columnDef.link; else plainText">
      <a class="mat-color-primary text-decoration-underline" [routerLink]="" (click)="emitRowAction(row, 'view')">
        {{formatedValue(row,columnDef)}}
      </a>
    </ng-container>
    <ng-template #plainText>
      <ng-container *ngIf="columnDef.dataKey === 'displayToPublicFlg'; else otherText">
        <mat-slide-toggle [checked]="convertToBoolean(row.displayToPublicFlg)" (change)="onShowToPublicToggleChange($event, row)">
        </mat-slide-toggle>               
      </ng-container>
      <ng-template #otherText>
        {{formatedValue(row,columnDef)}}
      </ng-template>
    </ng-template>

  </ng-template>
</div>