<div class="scrollable" [perfectScrollbar]>
    <section class="home-section section-intro text-center">
      <div class="container">
          <span class="egret">SocietyRax Page Not found</span>
          <h1>Requested resource is not found</h1>
          <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="center center" class="mb-48">
            <button mat-raised-button mat-lg-button color="primary" (click)="goToLogin()">Login/Singup</button>
            <span fxFlex="8px"></span>          
          </div>
      </div>
    </section>
  
    <div class="d-flex py-16 justify-content-center w-full mat-bg-card">
      <span>Developed by Teknik Solutions Pty Ltd</span>
    </div>
  </div>