<div class="shadow-2xl p-3">
  <div class="grid grid-cols-3 gap-4 p-8 mr-4 mb-4 rounded border border-gray-200">
    <div class="col-span-3 text-left">
      <h3 class="font-bold mb-8">
        <i class="material-icons text-red-500 align-middle">location_on</i> Address
        <button class="material-icons text-red-500 align-middle float-right"
         >
          add_circle
        </button>
      </h3>
      <div class="font-bold flex justify-between mb-4">
        <span>Address 1</span>
        <span class="material-icons text-red-500 align-middle">more_vert</span>
      </div>
      <div class="font-bold flex justify-between mb-4">
        <span>Address 2</span>
        <span class="material-icons text-red-500 align-middle">more_vert</span>
      </div>
      <div class="font-bold flex justify-between mb-4">
        <span>Address 3</span>
        <span class="material-icons text-red-500 align-middle">more_vert</span>
      </div>
    </div>
  </div>
</div>
