<div class="page-wrap h-full slate">
  <div class="session-form-hold">
    <mat-progress-bar mode="determinate" class="session-progress"></mat-progress-bar>
    <mat-card>
      <mat-card-content>
        <div class="text-center pt-8 pb-16">
          <img width="60px" src="assets/images/illustrations/breaking_barriers.svg" alt="" />
          <p class="font-weight-bold">Sign in to your account</p>
        </div>
        <div soraxdir-alert-message [errorMessage]="messages | json"></div>
        <form [formGroup]="loginForm" class="signup-form" fxLayout="column" (ngSubmit)="signInClicked()">
          <div formGroupName="user">
            <div class="">
              <sorax-form-field label="Email or phone" exClass="pb18"
                [soraxFormControl]="loginForm.get('user.emailId')">
                <input matInput formControlName="emailId" type="email" name="emailId" placeholder="Email or phone">
              </sorax-form-field>
            </div>
            <div class="">
              <sorax-form-field label="Password" exClass="pb18" [soraxFormControl]="loginForm.get('user.password')">
                <input matInput formControlName="password" type="password" name="password" placeholder="*******">
              </sorax-form-field>
            </div>

            <div class="pb-16">
              <mat-checkbox formControlName="agreed">
                I agree with terms and condtions</mat-checkbox>
            </div>


          </div>
          <button mat-raised-button class="mat-primary full-width mb-16" [disabled]="loginForm.invalid">Sign in</button>
          <div class="text-center pt-18">
            <a class="mat-primary text-left full-width" [routerLink]="'/auth/forgotPassword'">Forgot
              password</a>
            <span fxFlex></span>
            <a [routerLink]="'/auth/signup'" class="mat-primary text-right full-width">Create a new account</a>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>