<mat-progress-bar mode="determinate" class="session-progress"></mat-progress-bar>
<mat-card class="!m-0">
  <mat-card-content>
    <div class="flex flex-col items-center !py-4">
      <img width="60px" src="assets/images/illustrations/breaking_barriers.svg" alt="" />
      <p class="font-weight-bold">Sign in to your {{contextAssociation!.name}} account</p>
    </div>
    <div soraxdir-alert-message [errorMessage]="messages | json"></div>
    <form [formGroup]="loginForm" class="signup-form" (ngSubmit)="signInClicked()">
      <div formGroupName="user">
        <sorax-form-field label="Email or phone"  [soraxFormControl]="loginForm.get('user.emailId')" >

          <input  #soraxInput  matInput formControlName="emailId" type="email" name="emailId" placeholder="Email or phone" >
        </sorax-form-field>

        <sorax-form-field label="Password" [soraxFormControl]="loginForm.get('user.password')" >

          <input  #soraxInput  matInput formControlName="password" type="password" name="password" placeholder="Password" >
        </sorax-form-field>
        
        <mat-checkbox formControlName="agreed">
          I agree with terms and condtions</mat-checkbox>
      </div>
      <button mat-raised-button class="mat-primary full-width mt-4 mb-8"
        [disabled]="pageLoaded && loginForm.invalid">Sign in</button>
      <div class="text-center flex">
        <a *ngIf="!contextAssociation.name" [routerLink]="'/auth/signup'"
          class="mat-primary text-left full-width">Create a new account</a>

        <a *ngIf="contextAssociation.setting?.publicRegistrationFlg =='Y'" [routerLink]="'/auth/signup'"
          class="mat-primary text-left full-width">Member Registration</a>
        <span class="flex-grow"></span>
        <a class="mat-primary text-right full-width" [routerLink]="'/auth/forgotPassword'">Forgot password</a>
      </div>
    </form>
  </mat-card-content>
</mat-card>
