<div class="seciton-left">
  <div class="section-left-content">
    <h1 class="text-36 font-weight-light">Don't have an account?</h1>
    <p class="mb-24 text-small">Stop wasting time and money. It saves alot!!!</p>
    <button mat-flat-button color="accent" [routerLink]="'/auth/signup'">Sign Up</button>
  </div>
</div>
<div class="form-holder h-full-screen mat-bg-card mat-elevation-z4" [perfectScrollbar]="{}">
 
  <form
    [formGroup]="loginForm"
    class="loginForm"
    fxLayout="column"
    (ngSubmit)="signInClicked()"
  >
  <div formGroupName="user">
      <!-- headline -->
      <div class="form-headline text-center mb-32">
        <h1 class="font-weight-light">Sign in to your account</h1>
      </div>
      <div class="mb-48" fxLayout="row wrap" fxLayoutAlign="center center">
        <img
          width="200px"
          src="assets/images/illustrations/breaking_barriers.svg"
          alt=""
        />
      </div>
      <div soraxdir-alert-message   [errorMessage]="messages | json" ></div>

      <sorax-form-field label="Email or phone"
            exClass="pb18"
          [soraxFormControl]="loginForm.get('user.emailId')">
        <input
            matInput
            formControlName="emailId"
            type="email"
            name="emailId"
            placeholder="Email or phone"
            >
     </sorax-form-field>

     <sorax-form-field label="Password" 
     exClass="pb18"
       [soraxFormControl]="loginForm.get('user.password')">
        <input
            matInput
            formControlName="password"
            type="password"
            name="password"
            placeholder="*******"
            >
    </sorax-form-field>

    <div fxLayout="row" class="padround18"
          fxLayoutAlign="space-between center" >
        <mat-checkbox  formControlName="agreed">
                  I agree with terms and condtions</mat-checkbox>
       
       <a  class="mat-color-primary text-decoration-underline"  
                  [routerLink]="'/auth/forgotPassword'" >Forgot password</a>
      
    </div>
 </div>
      <button  mat-raised-button color="primary" [disabled]="loginForm.invalid">Signin</button>
      
  </form>
</div>

