<div class="flex justify-start m-8">
    <sorax-form-field [label]="'Filter By'" [soraxFormControl]="filterControl">
        <input #soraxInput matInput [(ngModel)]="filterText">
    </sorax-form-field>
    <button mat-raised-button color="primary" (click)="applyAttachmentFilter()">Filter List</button>
</div>

<div class="m-8" [@animate]="{value:'*',params:{y:'50px',delay:'300ms'}}" style="text-align: right;">
    <button mat-raised-button color="primary" (click)="openPoliciesAndDocstorePopUp({}, true)">Add Attachment
    </button>
</div>

<sorax-table-view [serverSidePagination]="true" 
    [tableData]="policiesAndDocstoreData" [tableColumns]="policiesAndDocstoreColumns"
    [isFilterable]="false" [isPageable]="true" [page]="page" (pageEvent)="pageChangeEvent($event)"
    (sortEvent)="sortData($event)" (deleteEvent)="deleteAssocationAttachments($event)"
    [tableType]="'assocationAttachment'" (showToPublicToggleChange)="onShowToPublicToggleChange($event)">
</sorax-table-view>

