<mat-tab-group (selectedTabChange)="onTabChanged($event)">
  <mat-tab label="Settings">
    <mat-card class="custom-bg">
      <mat-card-header class="flex justify-between items-center pb-2 text-white">
        <mat-card-title>SMTP Email Settings</mat-card-title>
        <button mat-icon-button (click)="openSMTPPopUp({})" class="text-white">
          <mat-icon>edit</mat-icon>
        </button>
      </mat-card-header>

      <mat-card-content class="content w-full pt-4">
        <form [formGroup]="SMTPForm" class="SMTPForm flex flex-col justify-around padround18">
          <div class="flex flex-row justify-around">
            <sorax-form-field label="SMTP Email host" [soraxFormControl]="SMTPForm.get('smtpHost')">
              <input #soraxInput matInput formControlName="smtpHost" type="text" name="smtpHost"
                placeholder="Enter SMTP Email host" disabled />
            </sorax-form-field>

            <sorax-form-field label="PORT" [soraxFormControl]="SMTPForm.get('port')">
              <input #soraxInput matInput formControlName="port" type="text" name="port" placeholder="Enter a port"
                disabled />
            </sorax-form-field>
            <sorax-form-field label="Reply to Email address" [soraxFormControl]="SMTPForm.get('replyToEmail')">
              <input #soraxInput matInput formControlName="replyToEmail" type="text" name="replyToEmail"
                placeholder="Enter a port" />
            </sorax-form-field>
          </div>
          <div class="flex flex-row justify-around">
            <sorax-form-field label="Email Id" [soraxFormControl]="SMTPForm.get('emailId')">
              <input #soraxInput matInput formControlName="emailId" type="text" name="emailId"
                placeholder="Enter a emailId" />
            </sorax-form-field>

            <sorax-form-field label="Password" [soraxFormControl]="SMTPForm.get('password')">
              <input #soraxInput matInput formControlName="password" type="password" name="password"
                placeholder="Enter a password" />
            </sorax-form-field>
          </div>
        </form>
      </mat-card-content>
    </mat-card>

    <mat-card class="custom-bg ">
      <mat-card-header class="flex justify-between items-center pb-2 text-white">
        <mat-card-title>Senders Profile</mat-card-title>
        <button mat-icon-button (click)="openSendersProfilePopUp({})">
          <mat-icon>edit</mat-icon>
        </button>
      </mat-card-header>
      <mat-card-content class="content pt-4 content">
        <form [formGroup]="SMTPForm" class="SMTPForm flex flex-col justify-around padround18">
          <div class="flex flex-row justify-around">
            <sorax-form-field label="Sender name" [soraxFormControl]="SMTPForm.get('smtpHost')">
              <input #soraxInput matInput formControlName="smtpHost" type="text" name="smtpHost"
                placeholder="Enter sender name" />
            </sorax-form-field>
            <sorax-form-field label="Reply to Email address" [soraxFormControl]="SMTPForm.get('replyToEmail')">
              <input #soraxInput matInput formControlName="replyToEmail" type="text" name="replyToEmail"
                placeholder="Reply to Email address" />
            </sorax-form-field>
            <sorax-form-field label="Email signature" [soraxFormControl]="SMTPForm.get('signiture')">
              <input #soraxInput matInput formControlName="signiture" type="text" name="signiture"
                placeholder="Enter a email signature" />
            </sorax-form-field>
          </div>
        </form>

      </mat-card-content>
    </mat-card>
  </mat-tab>
  <mat-tab label="System Templates">
    <mat-card
    [@animate]="{ value: '*', params: { y: '50px', delay: '300ms' } }">
      <mat-card-content >
        <sorax-table-view [tableData]="emailTemplateData" [tableColumns]="emailTemplateColumns" [isFilterable]="false"
          [isPageable]="true" [page]="page" (rowAction)="executeSystemTemplatesRowActions($event)"
          [tableType]="'EmailTemplate'">
        </sorax-table-view>
      </mat-card-content>
    </mat-card>
  </mat-tab>
  <mat-tab label="Unsubscribed Lists">
    <div [@animate]="{ value: '*', params: { y: '60px', delay: '300ms' } }" class="flex justify-between">
      <div class="flex justify-start m-8">
        <sorax-form-field [label]="'Filter By'" [soraxFormControl]="filterControl" class="pr-4">
          <input #soraxInput matInput [(ngModel)]="filterText" />
        </sorax-form-field>
        <button mat-raised-button color="primary" (click)="applyUnsubscribedFilter()">
          Filter List
        </button>
      </div>
      <div class="m-8">
        <form [formGroup]="emailUnsubscribeListForm" (ngSubmit)="submit()">
          <div class="flex">
            <sorax-form-field label="Email Address" class="pr-4" [soraxFormControl]="emailUnsubscribeListForm.get('emailId')">
              <input #soraxInput matInput formControlName="emailId" type="email" name="emailId" 
                placeholder="Enter email address" />
            </sorax-form-field>
            <button mat-raised-button color="primary" type="submit">
              Add to Unsubscribed List
            </button>
          </div>
        </form>
      </div>
    </div>
    <mat-card
      [@animate]="{ value: '*', params: { y: '50px', delay: '300ms' } }">
      <mat-card-content >
        <sorax-table-view [serverSidePagination]="true" [tableData]="emailUnsubscribedListstData"
          [tableColumns]="emailUnsubscribedListsColumn" [isFilterable]="false" [isPageable]="true" [page]="page"
          (pageEvent)="emailUnsubscriptionPageChangeEvent($event)" (sortEvent)="emailUnsubscriptionSortData($event)"
          (rowAction)="executeEmailUnsubscriptionRowActions($event)" [tableType]="'emailUnsubscription'">
        </sorax-table-view>
      </mat-card-content>
    </mat-card>
  </mat-tab>
  <mat-tab label="History">
    <div class="flex justify-start m-8">
      <sorax-form-field [label]="'Filter By'" [soraxFormControl]="filterControl" class="pr-4">
        <input #soraxInput matInput [(ngModel)]="filterText" />
      </sorax-form-field>
      <button mat-raised-button color="primary" (click)="applyHistoryFilter()">
        Filter List
      </button>
    </div>
    <mat-card
      [@animate]="{ value: '*', params: { y: '50px', delay: '300ms' } }" >
    <mat-card-content >
      <sorax-table-view [serverSidePagination]="true" [tableData]="emailHistoryData" [tableColumns]="emailHistoryColumn"
        [isFilterable]="false" [isPageable]="true" [page]="page" (rowAction)="executeEmailHistoryRowActions($event)"
        (pageEvent)="emailHistoryPageChangeEvent($event)" (sortEvent)="emailHistorySortData($event)">
      </sorax-table-view>
    </mat-card-content>
  </mat-card>
  </mat-tab>
</mat-tab-group>