<div class="event-dialog-wrapper">
  <mat-toolbar matDialogTitle class="mat-primary m-0">
    <div fxFlex fxLayout="row" fxLayoutAlign="space-between center">
      <span class="title dialog-title">Add membership plan</span>
      <button mat-icon-button (click)="dialogRef.close()" aria-label="Close dialog">
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </mat-toolbar>
  <div style="height:500px"  mat-dialog-content class="p-16 m-0"   > 
    <form [formGroup]="membershipPlanForm" class="membershipPlanForm" fxLayout="column" (ngSubmit)="submit()">

      <div soraxdir-alert-message [errorMessage]="messages | json"></div>
      <div fxLayout="row wrap" fxLayout.lt-sm="column">
        <div fxFlex="100">
          <sorax-form-field label="Membership plan name" [soraxFormControl]="membershipPlanForm.get('planName')">
            <input matInput formControlName="planName" type="text" name="planName" placeholder="Membership Plan name">
          </sorax-form-field>
        </div>
        <div fxFlex="100">
          <sorax-form-field label="Description" [soraxFormControl]="membershipPlanForm.get('description')">
            <textarea matInput formControlName="description" type="text" placeholder="Description" max-rows="4">
              </textarea>
          </sorax-form-field>
        </div>
        <div fxFlex="100">
          <sorax-form-field label="Membership fee" [soraxFormControl]="membershipPlanForm.get('fee')">
            <input matInput formControlName="fee" type="text" name="planName" placeholder="Membership fee">
          </sorax-form-field>
        </div>
        <div fxFlex="100">
          <sorax-autocomplete 
                  placeholder="Interval"
                  [autoCompleteFieldId]="membershipPlanForm.controls['interval']" 
                  [autoCompleteFieldLabel]="membershipPlanForm.controls['intervalAutoLabel']"
                  (selectedOptionEmitter)="onSelectedOption($event)" >
          </sorax-autocomplete>
        </div>
        <div fxFlex="100" class="padround8">
          <mat-slide-toggle [formControl]="membershipPlanForm.controls['autoPymtRemainder']">Automatic payment
            remainder</mat-slide-toggle>
        </div>
        <div fxFlex="100" class="padround8">
          <mat-slide-toggle [formControl]="membershipPlanForm.controls['familyMemberIncluded']">Family members
            included</mat-slide-toggle>
        </div>
        <div fxFlex="100" class="padround8">
          <mat-slide-toggle [formControl]="membershipPlanForm.controls['availableForGeneralPublic']">Can general public
            choose</mat-slide-toggle>
        </div>
        <div fxFlex="100" class="padround8">
          <mat-slide-toggle [formControl]="membershipPlanForm.controls['sendEmailNotification']">Send auto email
            notification</mat-slide-toggle>
        </div>
        <div fxFlex="100">
          <sorax-form-field label="Benfits" [soraxFormControl]="membershipPlanForm.get('benefits')">
            <textarea matInput formControlName="benefits" type="text" placeholder="Benfits" max-rows="4">
              </textarea>
          </sorax-form-field>
        </div>
        <div fxFlex="100">tEST TEXT</div>
        <div fxFlex="100">tEST TEXT</div>
        <div fxFlex="100">tEST TEXT</div>
        <div fxFlex="100">tEST TEXT</div>
        <div fxFlex="100">tEST TEXT</div>
        <div fxFlex="100">tEST TEXT</div>
        <div fxFlex="100">tEST TEXT</div>
        <div fxFlex="100">tEST TEXT</div>
        <div fxFlex="100">tEST TEXT</div>
        <div fxFlex="100">tEST TEXT</div>
        <div fxFlex="100">tEST TEXT</div>
        <div fxFlex="100">tEST TEXT</div>
        <div fxFlex="100">tEST TEXT</div>
        <div fxFlex="100">tEST TEXT</div>
        <div fxFlex="100">tEST TEXT</div>
        <div fxFlex="100">tEST TEXT</div>
        <div fxFlex="100">tEST TEXT</div>
        <div fxFlex="100">tEST TEXT</div>
        <div fxFlex="100">tEST TEXT</div>
        <div fxFlex="100">tEST TEXT</div>
        <div fxFlex="100">tEST TEXT</div>
      </div>
    </form>
  </div>
  
  <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="space-between center">

    <button mat-icon-button color="warn" aria-label="Delete" matTooltip="Delete">
      <mat-icon>delete</mat-icon>
    </button>
    
    <button mat-raised-button color="primary" aria-label="SAVE">
      Save
    </button>

  </div>
</div>