<div class="event-dialog-wrapper">
  <mat-toolbar matDialogTitle class="mat-primary m-0">
    <div fxFlex fxLayout="row" fxLayoutAlign="space-between center">
      <span class="title dialog-title">{{data.title}}</span>
      <button mat-icon-button (click)="dialogRef.close()" aria-label="Close dialog">
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </mat-toolbar>
  <div style="height:500px" mat-dialog-content class="p-16 m-0">
    <form [formGroup]="membershipPlanForm" class="membershipPlanForm" fxLayout="column" (ngSubmit)="submit(membershipPlanForm.value)">
      <div soraxdir-alert-message [errorMessage]="messages | json"></div>
      <div fxLayout="row wrap" fxLayout.lt-sm="column">
        <div fxFlex="100">
          <sorax-form-field label="{{'MEMBERSHIP_PLAN_NAME' | translate}}"
            [soraxFormControl]="membershipPlanForm.get('planName')">
            <input matInput formControlName="planName" type="text" name="planName"
              placeholder="{{'MEMBERSHIP_PLAN_NAME' | translate}}">
          </sorax-form-field>
        </div>
        <div fxFlex="100">
          <sorax-form-field label="Description" [soraxFormControl]="membershipPlanForm.get('description')">
            <textarea matInput formControlName="description" type="text" placeholder="Description" max-rows="4">
              </textarea>
          </sorax-form-field>
        </div>
        <div fxFlex="100">
          <sorax-form-field label="Membership fee" [soraxFormControl]="membershipPlanForm.get('fee')">
            <input matInput formControlName="fee" type="text" name="planName" placeholder="Membership fee">
          </sorax-form-field>
        </div>
        <div fxFlex="100">
          <sorax-autocomplete [lookupName]="intervaloptionsKey" placeholder="Interval"
            [autoCompleteFieldLabel]="membershipPlanForm.controls['interval']"
            (selectedOptionEmitter)="onSelectedIntervalOption($event)">
          </sorax-autocomplete>
          
        </div>
        <div fxFlex="100">
          <div fxFlex="100" class="padround8">
            <mat-slide-toggle [formControl]="membershipPlanForm.controls['autoPymtRemainder']">Automatic payment
              remainder</mat-slide-toggle>
          </div>
          
          <div fxFlex="100" class="padround8">
            <mat-slide-toggle [formControl]="membershipPlanForm.controls['familyMemberIncluded']">Family members
              included</mat-slide-toggle>
          </div>
        </div>
        <div fxFlex="100">
          <div fxFlex="100" class="padround8">
            <mat-slide-toggle [formControl]="membershipPlanForm.controls['autoApproveApplicants']">Auto approve
              applicants</mat-slide-toggle>
          </div>
          <div fxFlex="100" class="padround8">
            <mat-slide-toggle [formControl]="membershipPlanForm.controls['availableForGeneralPublic']">Can general
              public
              choose</mat-slide-toggle>
          </div>
        </div>
          <div fxFlex="100" class="padround8" *ngIf="data.isNew">
            <mat-slide-toggle [formControl]="membershipPlanForm.controls['sendEmailNotification']">Send Email
              notification to all Subscribers</mat-slide-toggle>
          </div>
          <div fxFlex="100" class="padround8" *ngIf="!data.isNew">
            <mat-slide-toggle [formControl]="membershipPlanForm.controls['notifySubscribers']">Notify Subscribers for this plan</mat-slide-toggle>
          </div>
        
        <div fxFlex="100">
          <sorax-form-field label="Benfits" [soraxFormControl]="membershipPlanForm.get('benefits')">
            <textarea matInput formControlName="benefits" type="text" placeholder="Benfits" max-rows="4">
              </textarea>
          </sorax-form-field>
        </div>
        <div fxFlex="100" *ngIf="!data.isNew">
          <sorax-autocomplete [lookupName]="statusoptionsKey" placeholder="Status"
            [autoCompleteFieldLabel]="membershipPlanForm.controls['status']"
            (selectedOptionEmitter)="onSelectedStatusOption($event)">
          </sorax-autocomplete>
        </div>
      </div>
    </form>
  </div>

  <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="end end">
    <button mat-raised-button color="primary" aria-label="Close" (click)="dialogRef.close()">
      Close
    </button>

    <button mat-raised-button color="primary" aria-label="Create a plan" [textContent]="buttonText" (click)="submit(membershipPlanForm.value)">
      Create a plan
    </button>

  </div>
</div>