<div class="parent-component flex flex-row h-full">
  <div class="event-dialog-wrapper md:w-1/5 m-4 border border-gray-300 rounded flex">
    <div mat-dialog-content class="padround18 h-full" style="overflow: hidden;">
      <div class="w-full py-1 mb-4 relative flex-col">
        <div class="h-2 mb-4" style="width: 100%; background: linear-gradient(to right, green 26%, black 0%);"></div>
        <div class="absolute bottom-0 right-0 text-sm text-black py-1 px-1 w-28 h-2 flex items-center justify-end">
          Completed: 26%</div>
      </div>

      <div class="flex flex-col justify-between items-start">
        <div class="w-full mb-8">
          <img src="https://via.placeholder.com/150" alt="Profile Picture" class="rounded-full w-70 h-70 mx-auto">
        </div>
        <div class="photo-preview">
          <img *ngIf="imageURL" [src]="imageURL" alt="Photo to display to public" />
        </div>
        <div class="w-full pl-0 text-center">
          <h2 class="text-2xl font-bold mb-2">{{memberData.userDetail.firstName +" "+ memberData.userDetail.parentName}}
          </h2>
          <p class="text-lg text-gray-600 mb-4">{{memberData.userDetail.occupation}}</p>
          <div class="flex flex-col mb-4">
            <div class="flex items-center mb-8 pb-8 justify-center border-b border-gray-300">
              <mat-icon class="mr-6">home</mat-icon>
              <mat-icon (click)="openPopUp({}, true)">edit</mat-icon>
            </div>
            <div class="flex-col mb-8 pb-8 justify-center border-b border-gray-300">
              <div class="flex items-center py-2">
                <mat-icon>mail</mat-icon>
                <span class="ml-2">{{memberData.userDetail.primaryEmail}}</span>
              </div>
              <div class="flex items-center py-2">
                <mat-icon>phone</mat-icon>
                <span class="ml-2">{{memberData.userDetail.primaryPhone}}</span>
              </div>
              <div class="flex items-center py-2">
                <mat-icon>location_on</mat-icon>
                <span class="ml-2">City, State</span>
              </div>
            </div>
            <div class="flex-col mb-3 justify-center border-b border-gray-300">
              <form [formGroup]="profileSettingForm" (ngSubmit)="submit(profileSettingForm.value)">
                <div soraxdir-alert-message [errorMessage]="messages | json"></div>
            
                <div class="flex items-center py-2">
                  <mat-slide-toggle
                    [formControl]="profileSettingForm.controls['emailNotificationFlg']">Recieve Email
                    Notification</mat-slide-toggle>
                </div>
            
                <div class="flex items-center py-2">
                  <mat-slide-toggle
                    [formControl]="profileSettingForm.controls['mobileNotificationFlg']">Recieve SMS
                    Notification</mat-slide-toggle>
                </div>
            
                <div class="flex items-center py-2">
                  <mat-slide-toggle
                    [formControl]="profileSettingForm.controls['contactVisibility']">Contacts visible to
                    public</mat-slide-toggle>
                </div>
            
                <div class="flex items-center py-2">
                  <mat-slide-toggle
                    [formControl]="profileSettingForm.controls['photoVisibility']">Contacts visible to 
                    members</mat-slide-toggle>
                </div>
              </form>
              <div class="items-start py-2">
                <button (click)="submit(profileSettingForm.value)" class="mt-4 bg-blue-500 text-white px-4 py-2 rounded">Save</button>
              </div>
            </div>
            
            
            <div class="items-start py-2">
              <button (click)="openMembershipManagement()" class="mt-4 bg-blue-500 text-white px-4 py-2 rounded">Back to Members list</button>

            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="flex flex-col md:w-2/5 m-4">
    <app-membership-details [memberData] = "memberData" class="w-full mb-8"></app-membership-details>
    <app-contacts [memberData] = "memberData" class="w-full mb-8"></app-contacts>
    <app-address [memberData] = "memberData" class="w-full mb-8"></app-address>
    <app-work-experience [memberData] = "memberData" class="w-full mb-8"></app-work-experience>
</div>
<div class="flex flex-col md:w-2/5 m-4">
    <app-my-family [memberDataId] = "associationMemberId" class="w-full mb-8"></app-my-family>
    <app-invoices class="w-full mb-8"></app-invoices>
    <app-my-companies [memberData] = "memberData" class="w-full mb-8"></app-my-companies>
    <app-my-education [memberData] = "memberData" class="w-full mb-8"></app-my-education>
</div>

</div>