<div class="event-dialog-wrapper">
  <mat-toolbar matDialogTitle class="mat-primary pr0 flex flex-wrap">
    <span class="mat-headline-4">{{ data.title }}</span>
    <button mat-icon (click)="dialogRef.close()" aria-label="Close dialog" class="float-right">
      <mat-icon>close</mat-icon>
    </button>
  </mat-toolbar>

  <div mat-dialog-content class="padround18">
    <form [formGroup]="userCompaniesForm" class="userCompaniesForm padround18"
      (ngSubmit)="submit(userCompaniesForm.value)">
      <div soraxdir-alert-message [errorMessage]="messages | json"></div>
      <div class="flex justify-between">
        <div class="flex flex-wrap flex-col md:w-2/3 pr8">
          <div class="flex w-full md:w-1/1 pr8">
            <div class="w-full md:w-2/3">
              <sorax-form-field label="Company Name" [soraxFormControl]="userCompaniesForm.get('companyName')">
                <input #soraxInput matInput formControlName="companyName" type="text" name="companyName" />
              </sorax-form-field>
            </div>
          </div>

          <div class="w-full md:w-2/3 pr8">
            <sorax-form-field label="Short name" [soraxFormControl]="userCompaniesForm.get('shortName')">
              <input #soraxInput matInput formControlName="shortName" type="text" name="shortName" />
            </sorax-form-field>
          </div>

          <div class="w-full md:w-2/3 pr8">
            <sorax-form-field label="Website" [soraxFormControl]="userCompaniesForm.get('website')">
              <input #soraxInput matInput formControlName="website" type="text" name="website" />
            </sorax-form-field>
          </div>

          <div class="w-full md:w-2/3 pr8">
            <sorax-form-field label="Facebook profile" [soraxFormControl]="userCompaniesForm.get('facebookPageUrl')">
              <input #soraxInput matInput formControlName="facebookPageUrl" type="text" name="facebookPageUrl" />
            </sorax-form-field>
          </div>
          <div class="w-full md:w-2/3 pr8">
            <sorax-form-field label="Linkedin profile" [soraxFormControl]="userCompaniesForm.get('linkedinPageUrl')">
              <input #soraxInput matInput formControlName="linkedinPageUrl" type="text" name="linkedinPageUrl" />
            </sorax-form-field>
          </div>
          <div class="w-full md:w-2/3 pr8">
            <sorax-form-field label="Twitter profile" [soraxFormControl]="userCompaniesForm.get('twitterPageUrl')">
              <input #soraxInput matInput formControlName="twitterPageUrl" type="text" name="twitterPageUrl" />
            </sorax-form-field>
          </div>

          <div class="w-full md:w-2/3 pr8">
            <sorax-form-field label="Address" [soraxFormControl]="userCompaniesForm.get('address')">
              <input #soraxInput matInput formControlName="address" type="text" name="address" />
            </sorax-form-field>
          </div>

          <div class="w-full md:w-2/3 pr8">
            <sorax-form-field label="About me" [soraxFormControl]="userCompaniesForm.get('category')">
              <input #soraxInput matInput formControlName="category" type="text" name="category" />
            </sorax-form-field>
          </div>
        </div>
        <div class="md:w-1/3 flex flex-col justify-center">
          <div class="photo-container w-full md:w-1/1">
            <div class="photo-preview">
              <img *ngIf="imageURL; else noImage" [src]="imageURL" alt="Photo to display to public" />
              <ng-template #noImage>
                <p>Photo to display to public</p>
              </ng-template>
            </div>
            <div class="form-group">
              <label for="photo">Upload Photo(Visible to public):</label>
              <input type="file" class="form-control" id="photo" name="photo" accept="image/*"
                (change)="onFileSelected($event)" />
            </div>
          </div>

          <!-- <div class="w-full md:w-1/1 pr8">
            <mat-slide-toggle class="padround8" [formControl]="
              userCompaniesForm.controls['onlineAccessFlg']
              ">Online access</mat-slide-toggle>
          </div> -->
        </div>
      </div>
    </form>
  </div>

  <div mat-dialog-actions class="m-0 p-16 text-center flex">
    <button mat-raised-button class="mat-primary text-left" aria-label="Close" (click)="dialogRef.close()">
      Close
    </button>
    <span class="flex-grow"></span>
    <button mat-raised-button class="mat-primary text-right" aria-label="Create a member" [textContent]="buttonText"
      (click)="submit(userCompaniesForm.value)">
      Create a member
    </button>
  </div>
</div>