::ng-deep .mat-tab-list .mat-tab-labels .mat-tab-label-active {
  color: #000000;
  background-color: #ccd2e5;
}

::ng-deep .mat-tab-list .mat-tab-labels {
  color: blue;
  background-color: #ffff;
}
