<mat-progress-bar mode="determinate" class="session-progress"></mat-progress-bar>
<mat-card class="!m-0">
  <mat-card-content>
    <div class="flex flex-col items-center !py-4">
      <img width="60px" src="assets/images/illustrations/done_2.svg" alt="" />
      <p class="font-weight-bold">Verify email/phone</p>
    </div>

    <div soraxdir-alert-message [errorMessage]="messages | json"></div>

    <form [formGroup]="verifyForm" class="signup-form flex flex-col" (ngSubmit)="verifyUser()">
    
      <div class="flex flex-wrap justify-between items-center">
        <sorax-form-field label="Enter Otp" fxFlex="1 0 auto" [soraxFormControl]="verifyForm.get('otp')">
          <input #soraxInput  soraxdir-numbers-only formControlName="otp" matInput type="text" name="otp"
            placeholder="Enter otp" />
        </sorax-form-field>

        <div class="resendButton">
          <button type="button" mat-raised-button color="accent" (click)="resendOTP()">Resend OTP</button>
        </div>
      </div>

      <button mat-raised-button class="mat-primary full-width mt-4 mb-8" [disabled]="verifyForm.invalid">Verify
        Email/Phone</button>

        <div class="text-center flex">
          <a [routerLink]="'/auth/login'" class="mat-primary text-left full-width">Sign in</a>
          <span fxFlex></span>
          <a [routerLink]="'/auth/signup'" class="mat-primary text-right full-width">Create a new account</a>
        </div>

    </form>
  </mat-card-content>
</mat-card>
