<mat-form-field 
        #materialFormField  autocomplete="off"
        class="full-width sorax-form-field" 
        [class]="exClass" 
        appearance="outline"
        >
      <span matPrefix>
        <ng-content select="[prefix]"></ng-content>
      </span>
      <mat-label>{{label}}</mat-label>
      <ng-content></ng-content>
      <span matSuffix>
        <ng-content select="[suffix]"></ng-content>
      </span>
   
      <mat-error>
        <span sorax-validation-display-dir
                [soraxValidationFormControl]="soraxFormControl" 
                [fieldName]="label" >
          <span 
            *ngIf="soraxFormControl!.errors && 
                     soraxFormControl!.hasError('required')"
                 >{{label}} {{ "IS_REQUIRED" |translate}}.</span>
        </span>
      </mat-error>
  </mat-form-field>

