<mat-form-field 
        #materialFormField  autocomplete="off"
        class="full-width sorax-form-field pb10" 
        [class]="exClass" 
        appearance="outline"
        >
      <mat-icon *ngIf="prefix" matPrefix>{{prefix}}</mat-icon>
      <span *ngIf="prefixText" matTextPrefix><strong>{{prefixText}}</strong></span>
      <mat-label >{{label}}</mat-label>
      <ng-content></ng-content>
      <mat-icon *ngIf="suffix" matSuffix>{{suffix}}</mat-icon>
      <span *ngIf="suffixText" matTextSuffix><strong>{{suffixText}}</strong></span>
   
      <mat-error>
        <span sorax-validation-display-dir
                [soraxValidationFormControl]="soraxFormControl" 
                [fieldName]="label" >
          <span 
            *ngIf="soraxFormControl!.errors && 
                     soraxFormControl!.hasError('required')"
                 >{{label}} {{ "IS_REQUIRED" |translate}}.</span>
        </span>
      </mat-error>
  </mat-form-field>

