.custom-bg {
    background-color: #2196f3;
  }
  .custom-bg .mat-card-content {
    background-color: white;
  }

  .content{
    padding: 15px;
  }

  .reduced-height {
    height: 43px;
    margin-left: -5px;
  }

  