.custom-bg {
  background-color: #222a45;
}

.inner-content {
  background-color: white;
  margin: 5px;
  height: 200px;
}

.mat-card-content {
  background-color: white;
}

.content{
  padding: 10px;
  background-color: white;
}

