/*
 *
 *   EGRET - Angular Material Design Admin Template
 *
 *
*/

// // Third pirty style files
// // Sidebar Scroll
@import '~perfect-scrollbar/css/perfect-scrollbar.css';

// // Flag icon
// @import '~flag-icon-css/css/flag-icon.min.css';
@import '~flag-icons/css/flag-icons.min.css';

// // Rich Text Editor
@import '~quill/dist/quill.core.css';
@import '~quill/dist/quill.snow.css';

// // Drag and Drop
@import '~dragula/dist/dragula.css';

// // Calendar
@import '~angular-calendar/css/angular-calendar.css';

// // User tour
@import '~hopscotch/dist/css/hopscotch.min.css';

// // Page loader Topbar
@import '../../vendor/pace/pace-theme-min.css';

// // Highlightjs theme
@import '~highlight.js/styles/github.css';


// Main Variables File
@import "scss/variables";

@import "scss/mixins/mixins";
@import "scss/colors";

@import "scss/animations";

// Open _main.scss and keep files which are required for your current layout.
@import "scss/main/main";

// Angular material theme files
@import "scss/themes/init";

@import "scss/utilities/utilities";
@import "scss/components/components";
@import "scss/palette";


@import "scss/page-layouts";

// Open _views.scss and remove unnecessary view related files
@import "scss/views/views";


html {
    font-size: 14px;
}


.toast-top-right{
    width: 30% !important;
    padding-left: 10px !important;
    padding-top: 2px !important;
    padding-bottom: 2px !important;
    padding-right: 10px !important;
}
.ngx-toastr{
    width: 100% !important;
}

.alert {
    padding: 15px;
    margin-bottom: 15px;
}
.alert-danger{
   color: #721c24;
   background-color:#f8d7da; 
   border-color: #f5c6cb;
}

.alert-warning{
    color: #856404;
    background-color:#fff3cd; 
    border-color: #ffeeba;
}

.alert-info{
   color: #0c5460;
   background-color:#d1ecf1; 
   border-color: #bee5eb;
}

.alert-success{
   color: #155724;
   background-color:#d4edda; 
   border-color: #c3e6cb;
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 18px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}

.sorax-form-field{
    font-size: 12px;     
    letter-spacing:1.2px;
    padding-bottom: 8px;
}

.pb18{
    padding-bottom: 18px !important; 
}

.pt18{
    padding-top: 18px; 
}
.padround18{
    padding: 18px;
}

.padround8{
    padding: 8px;
}

.mat-form-field-wrapper{
    margin-bottom: -0.65em !important;
}
.mat-form-field-flex > .mat-form-field-infix {
     padding: .8em 0px !important;
}
.mat-form-field-label-wrapper { 
    top: -1.3em !important; 
}
.mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
    transform: translateY(-1.1em) scale(.75);
    width: 133.33333%;
}
.mat-table{
    width: 100%;
    table-layout: fixed;
}
.mat-row {
    min-height: 45px;
}

.mat-row:nth-child(even){
    background-color:  #ffffff;
}
        
.mat-row:nth-child(odd){
    background-color:   #eef0f7;
}

.mat-header-cell {
    border-left: 1px solid #eef0f7;
    background-color: #ccd2e5;
    color: #1a1f33 !important;
    padding-left: 5px !important;
    padding-right: 5px !important;
    font-size: 13px;
}

.mat-cell {
    border-left: 1px solid #ccd2e5;
    padding-left: 5px !important;
    padding-right: 5px !important;
    font-size: 13px;
    overflow-wrap: break-word !important;
    word-wrap: break-word !important;
    word-break:break-all !important;
}

.header-align-right {
    display: flex;
    padding:  0 5px 0 5px !important;
    justify-content: flex-end;
  }

 .header-align-left{
    display: flex;
    padding:  0 5px 0 5px !important;
    justify-content: flex-start;
  }
  .mat-dialog-container{
    padding: 0px !important;
  }

.loader-modalbox {
    .mat-dialog-container {
        padding: 24px !important;
    }
}

.mat-autocomplete-panel .mat-option:hover{
    background-color: #ccd2e5 !important;
 }

 .mat-option.mat-active:not(.mat-option-disabled) {
    background-color: #ccd2e5 !important;
 }

 .mat-list-item-content:hover {
    background-color: #ccd2e5;
}