/*
 *
 *   EGRET - Angular Material Design Admin Template
 *
 *
*/

// Import Tailwind 
@tailwind base;
@tailwind components;
@tailwind utilities;

// // Third pirty style files
// // Sidebar Scroll
@import '~perfect-scrollbar/css/perfect-scrollbar.css';

// // Flag icon
// @import '~flag-icon-css/css/flag-icon.min.css';
@import '~flag-icons/css/flag-icons.min.css';

// // Rich Text Editor
@import '~quill/dist/quill.core.css';
@import '~quill/dist/quill.snow.css';

// // Calendar
@import 'angular-calendar/scss/angular-calendar.scss';

// // User tour
@import '~hopscotch/dist/css/hopscotch.min.css';

// // Page loader Topbar
@import '../../vendor/pace/pace-theme-min.css';

// // Highlightjs theme
@import '~highlight.js/styles/github.css';

// Main Variables File
@import "scss/variables";

@import "scss/mixins/mixins";
@import "scss/colors";

@import "scss/animations";

// Open _main.scss and keep files which are required for your current layout.
@import "scss/main/main";

// Angular material theme files
@import "scss/themes/init";

// @import "scss/utilities/utilities";
@import "scss/components/components";
@import "scss/palette";


@import "scss/page-layouts";

// Open _views.scss and remove unnecessary view related files
@import "scss/views/views";


html {
    font-size: 14px;
}

.blue-underline {
    color: blue; 
    text-decoration: underline; 
  }

.toast-top-right {
    width: 30% !important;
    padding-left: 10px !important;
    padding-top: 2px !important;
    padding-bottom: 2px !important;
    padding-right: 10px !important;
}

.ngx-toastr {
    width: 100% !important;
}

.alert {
    padding: 15px;
    margin-bottom: 15px;
}

.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

.alert-warning {
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
}

.alert-info {
    color: #0c5460;
    background-color: #d1ecf1;
    border-color: #bee5eb;
}

.alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 18px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}

.sorax-form-field {
    font-size: 12px;
    letter-spacing: 1.2px;
    margin-bottom: -0.65em !important;
}

.mat-mdc-form-field-infix {
    min-height: 40px !important;
}

.mat-mdc-form-field-wrapper {
    margin-bottom: -0.65em !important;
}

.mat-mdc-form-field-flex>.mat-mdc-form-field-infix {
    padding: .8em 0px !important;
}

.mat-mdc-form-field-label-wrapper {
    top: 5px !important;
}

.mat-mdc-form-field-appearance-outline.mat-mdc-form-field-can-float.mat-mdc-form-field-should-float .mat-mdc-form-field-label {
    transform: translateY(-1.1em) scale(.75);
    width: 133.33333%;
}

.mdc-notched-outline__notch {
    border-right: none;
}

.mdc-floating-label {
    top: 20px !important;
    transform-origin: top left;
    pointer-events: none;
}

.mdc-floating-label--float-above {
    transform: translateY(-170%) scale(0.75) !important;
}


.mat-table .mat-mdc-table .mdc-data-table__table {
    width: 100%;
    table-layout: fixed !important;
}

.mat-row .mat-mdc-row {
    min-height: 45px;
}

.mat-row:nth-child(even) {
    background-color: #ffffff;
}

.mat-mdc-row:nth-child(even) {
    background-color: #ffffff;
}

.mat-row:nth-child(odd) {
    background-color: #eef0f7;
}

.mat-mdc-row:nth-child(odd) {
    background-color: #eef0f7;
}

.egret-navy .mat-header-cell .mat-mdc-header-cell {
    border-left: 1px solid #eef0f7 !important;
    background-color: #ccd2e6 !important;
    color: #2a3455 !important;
    padding-left: 5px !important;
    padding-right: 5px !important;
    font-size: 13px !important;
}

.mdc-data-table__header-cell {
    border-left: 1px solid #eef0f7 !important;
    background-color: #ccd2e6 !important;
    color: #2a3455 !important;
    padding-left: 5px !important;
    padding-right: 5px !important;
    font-size: 13px !important;
}

.mat-cell .mat-mdc-cell {
    border-left: 1px solid #dde1ee;
    padding-left: 5px !important;
    padding-right: 5px !important;
    font-size: 13px;
    overflow-wrap: break-word !important;
    word-wrap: break-word !important;
    word-break: break-all !important;
}

.mdc-data-table__cell {
    border-left: 1px solid #dde1ee;
    padding-left: 5px !important;
    padding-right: 5px !important;
    font-size: 13px;
    overflow-wrap: break-word !important;
    word-wrap: break-word !important;
    word-break: break-all !important;
}

.header-align-right {
    display: flex;
    padding: 0 5px 0 5px !important;
    justify-content: flex-end;
}

.header-align-left {
    display: flex;
    padding: 0 5px 0 5px !important;
    justify-content: flex-start;
}

.mat-mdc-dialog-container {
    padding: 0px !important;
}

.loader-modalbox {
    .mat-mdc-dialog-container {
        padding: 12px !important;
        z-index: 1001 !important;

    }
}

.light-backdropc {
    background-color: rgba(0, 0, 0, 0.18);
    z-index: 1000;

}

/* your-component-name.component.css */

.mat-mdc-progress-bar.custom-thickness {
    --mdc-linear-progress-active-indicator-height: 12px;
    --mdc-linear-progress-track-height: 12px;
    --mdc-linear-progress-track-shape: 0;
}

.float-bottom {
    position: absolute !important;
    bottom: 0px;
}

.mat-card-border {
    border: 4px solid #323f6d !important;
    height: calc(100% - 2px);
    flex: 1;
    margin: 0px;
}

.srax-wrap-height{
    height: calc(h-full - 50px - 20px);
}


.mat-progress-bar-label {
    position: absolute;
    /* Position the label inside the progress bar */
    top: 50%;
    /* Adjust the vertical position as needed */
    left: 50%;
    /* Center the label horizontally */
    transform: translate(-50%, -50%);
    /* Center the label precisely */
    font-size: 14px;
    /* Adjust font size as needed */
    color: white;
    /* Label text color */

}

.mat-mdc-autocomplete-panel .mat-mdc-option:hover {
    background-color: #dde1ee !important;
}

.mat-mdc-option.mat-mdc-active:not(.mat-mdc-option-disabled) {
    background-color: #dde1ee !important;
}

.mat-mdc-list-item-content:hover {
    background-color: #dde1ee;
}

/**** Start Mat Tabs Styles *****/
.mat-mdc-tab-group {
    width: 100%;
}

.mat-mdc-tab-label {
    border: 1px solid transparent;
}

.mat-tab-label-active {
    background-color: #ffffff;
    color: #007bff;
}

.mat-mdc-tab.mdc-tab {
    border-right: 1px solid #ffffff !important;
    border-left: 1px solid #ffffff !important;
    border-top: 1px solid #ffffff !important;

}


.mdc-tab__content {
    height: 35px !important;
}

.mat-mdc-tab-header {
    background-color: #8796c4;
}

.mat-mdc-tab-header {
    border-bottom: 1px solid #ccc;
    height: 35px !important;
}

.mdc-tab-indicator {
    height: 34px !important;
}

.mdc-tab--active {
    background-color: #323f67 !important;
}

.mdc-tab--inactive {
    background-color: #ff8a48 !important;
}

.egret-navy .mat-mdc-tab-group,
.egret-navy .mat-mdc-tab-nav-bar {
    --mdc-tab-indicator-active-indicator-color: #ff8a48;
    --mat-tab-header-disabled-ripple-color: #323f67;
    --mat-tab-header-pagination-icon-color: #323f67;
    --mat-tab-header-inactive-label-text-color: #000000;
    --mat-tab-header-active-label-text-color: #ffffff;
    --mat-tab-header-active-ripple-color: #323f67;
    --mat-tab-header-inactive-ripple-color: #323f67;
    --mat-tab-header-inactive-focus-label-text-color: #000000;
    --mat-tab-header-inactive-hover-label-text-color: #000000;
    --mat-tab-header-active-focus-label-text-color: #ffffff;
    --mat-tab-header-active-hover-label-text-color: #ffffff;
    --mat-tab-header-active-focus-indicator-color: #ff8a48;
    --mat-tab-header-active-hover-indicator-color: #ff8a48;
}

/**** End Mat Tabs Styles *****/
.mat-mdc-card-content {
    padding: 3px !important;
}

.mat-toolbar-row,
.mat-toolbar-single-row {
    height: 55px !important;
    vertical-align: middle !important;
}

.mat-mdc-card-header {
    padding: 0px !important;
}

.mat-mdc-card-title {
    padding: 10px !important;
}


.pb18 {
    padding-bottom: 18px !important;
}

.pb8 {
    padding-bottom: 8px !important;
}

.pb10 {
    padding-bottom: 10px !important;
}

.pt18 {
    padding-top: 18px;
}

.pr0 {
    padding-right: 0px !important;
}

.pt0 {
    padding-top: 0px !important;
}

.pr8 {
    padding-right: 8px !important;
}

.padround18 {
    padding: 18px;
}

.padround8 {
    padding: 8px;
}