<div
  [@animate]="{ value: '*', params: { y: '60px', delay: '300ms' } }"
  class="flex justify-between"
>
  <form
    [formGroup]="visibilitySettingForm"
    class="committeeMemberForm padround18"
  >
    <div class="m-8 search">
      <sorax-autocomplete
        [lookupName]="memberoptionsKey"
        placeholder="Search Member, email, phone, first name, last name, preferred name"
        [autoCompleteFieldLabel]="visibilitySettingForm.controls['member']"
        (selectedOptionEmitter)="onSelectedMembersOption($event)"
        [displayFn]="memberDisplayFn"
      >
      </sorax-autocomplete>
    </div>

    <h2 *ngIf="role" class="flex justify-center m-16">Roles</h2>
    <div class="flex flex-row justify-center flex-wrap">
      <div *ngFor="let role of allRoles">
        <mat-checkbox
          #superAdminCheckbox
          *ngIf="role.isSuperAdmin"
          (change)="onSuperAdminChange()"
          [aria-label]="role.name"
          [(ngModel)]="role.checked"
          [ngModelOptions]="{ standalone: true }"
        >
          {{ role.name }}
        </mat-checkbox>

        <mat-checkbox
          *ngIf="!role.isSuperAdmin"
          (change)="onRoleChange(role)"
          [aria-label]="role.name"
          [(ngModel)]="role.checked"
          [ngModelOptions]="{ standalone: true }"
        >
          {{ role.name }}
        </mat-checkbox>
      </div>
    </div>
  </form>
  <div class="m-8">
    <button
      mat-raised-button
      color="primary"
      (click)="applyRoleAndPermission()"
    >
      Apply Role and Permissions
    </button>
  </div>
</div>

<h2 *ngIf="permission" class="flex justify-center m-16">Permissions</h2>
<div class="flex flex-row justify-around flex-wrap m-16">
  <div *ngFor="let permission of allPermissions" class="flex flex-col">
    <h3>{{ permission.groupName }}</h3>
    <mat-checkbox
      [(ngModel)]="permission.checked"
      [aria-label]="permission.permissionName"
      [ngModelOptions]="{ standalone: true }"
    >
      {{ permission.permissionName }}
    </mat-checkbox>
  </div>
</div>
