.custom-bg {
  background-color: #222a45;
  width: 70%;
}
.mat-card-content {
  background-color: white;
}

.content{
  padding: 10px;
  background-color: white;
}

.h-24{
  height: 300px;
}

.custom-sm{
  width: 70%;
}